.container {
  width: 100px;
  margin: 0 auto;
}

.appear,
.enter {
  opacity: 0;
}

.appear-active,
.enter-active {
  opacity: 1;
  transition: .5s;
}

.exit-active {
  opacity: 0;
  transition: .5s;
}