.menu {
  margin: 20px 0;
  color: #fff;
  list-style: none;
  width: 100%;
  padding: 0;
}

.menu li {
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
}

.menu li:hover {
  color: #008c8c;
  background-color: #fff;
}

.menu a {
  color: inherit;
  text-decoration: none;
}