th, td {
  border: 1px solid #999;
  padding: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  /* margin: 20px; 会导致边距有问题 */
  /* margin: 20px; */
  margin: 20px 0;
}