.layout {
position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.aside-left {
  overflow: auto;
  height: 100%;
}

.main-container {
  display: flex;
}

.main {
  flex: 1;
  background-color: green;
}