
.container {
  width: 100px;
  margin: 100px auto;
}

h1 {
  margin: 0;
}

.comp-container {
  height: 100px;
  position: relative;
}

.titleB {
  position: absolute;
  left: 0;
  top: 0;
}

.exit-done {
  display: none;
}