.router-container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  background-color: #008c8c;
  height: 50px;
  line-height: 50px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.nav a.active {
  color: yellow;
}

.page h1 {
  margin: 0;
}

.comp-container {
  position: relative;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  padding-top: 30px;
}

.home {
  background-color: lightblue;
}

.news {
  background-color: lightgreen;
}

.personal {
  background-color: lightpink;
}