.three-layout-container {
  display: flex;
  min-width: 1024px;
}

.three-layout-container .main {
  flex: 1;
  padding: 0 30px;
}

.three-layout-container .left {
  min-width: 100px;
}
.three-layout-container .right {
  min-width: 100px;
}