.pager-container {
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  a {
    /*color: inherit;*/
    text-decoration: none;
  }

  .item,
  li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid blue;
    margin-right: 5px;
    cursor: pointer;
  }

  .item {
    width: 60px;
  }

  .total {
    width: 100px;
    border: none;
    /*margin-left: 10px;*/
  }

  .disabled {
    color: #ccc;
    border-color: #cccccc;
  }

  .active {
    color: orangered;
  }
}
