.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* 保证通用性，不设置背景色 */
  /*background-color: rgba(0, 0, 0, 0.3);*/
}

.modal-center {
  position: absolute;
  left: 50%;
  top: 50%;
  /*background-color: #fff;*/
  transform: translate(-50%, -50%);
}