.three-layout-container {
  display: flex;
}

.three-layout-container .main {
  flex: 1 1 auto;
  /* 习惯将 主区域 放前面，所以要设置顺序 */
  order: 2;
}

.three-layout-container .aside-left {
  order: 1;
}

.three-layout-container .aside-right {
  order: 3;
}