.arrow-container {
  /* 一开始不显示  */
  display: none;
}

.banner-container:hover .arrow-container {
  display: block;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.arrow:hover {
  /* color: #ff4400; */

  /* 背景加深 */
  background-color: rgba(0, 0, 0, 0.7);
}

.left {
  left: 0;
  border-radius: 0 10px 10px 0;
  padding-right: 5px;
}

.right {
  right: 0;
  border-radius: 10px 0 0 10px;
  padding-left: 5px;
}