.dots {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, .5);
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.dot {
  /* display: block; */
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 3px;
}

.dot.active {
  background-color: #ff4400;
}
