.fade-enter,
.fade-appear {
  opacity: 0;
}

.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: .5s;
}

.fade-exit-active {
  opacity: 0;
  transition: .5s;
}

.fade-exit-done {
  /* display: none; */
  opacity: 0;
}